.opening{
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/NGC_4414_%28NASA-med%29.jpg/1200px-NGC_4414_%28NASA-med%29.jpg);

  height: 700px;
}



.s12{
  text-align: center;
}

.s6{
  text-align: center;
}
