
html{
  font-family: helvetica;
  font-size: 12px;
}

body{
  background-color: white;
  color: white;
  font-size: 20px;
  line-height: 1.5;
  margin: 0;
  max-width: 100%;

}

main {
  margin: 15px;
}

h1{
  color: rgb(144,25,29);
  text-align: center;
  font-family: helvetica;
}

h2{
  color: rgb(144,25,29);
}

br{
  line-height: 2;
}

nav{
  text-align: left;
  font-family: sans-serif;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: black;
  margin: 0;
  padding: 0;

}


footer {

  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: black;
  text-align: center;
}

a{
  color: white;);
  font-size: 20px;
}

span{
  color: white;
  font-size: 20px;
}

p{
  color: grey;
}

IMG.BPG{
  padding-top: 50px;
  display: block;
  margin: auto;
  height: 300px;
  width: 300px;
  border-radius: 50%;

}

IMG.WBD{
  float: left;
  height: 300px;
  width: 300px;
  border-radius: 50%;

}

.amContainer{
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px auto;
  width: 50px auto;
}

.portContainer{
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin:  50px auto;
  width: 50px auto;
}
